<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="chat.css">
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="container-chat">

    <div class="conversa">

        <div class="row">
        <div class="msn pull-left chatleft">
            <p>Maecenas non ac elit?</p>
            <small class="time">11:35</small>
        </div>
        </div>

        <div class="row">
        <div class="msn pull-right chatright">
            <p>Donec ut tortor eu tellus ultricies scelerisque eu a arcu. Sed placerat neque quis iaculis eleifend. Aenean id hendrerit neque.</p>
            <small class="time">11:35</small>

        </div>
        </div>

        <div class="row">
        <div class="msn pull-right chatright">
                <p>Nuglla</p>
                <small class="time">11:35</small>
        </div>
        </div>

        <div class="row">
        <div class="msn pull-left chatleft">
            <p>Lorem ipsum dolor sit amet, adipiscing elit. Nulla ut non pretium.</p>
            <small class="time">11:35</small>
        </div>
        </div>

    </div>

</div>
</body>
</html>